* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

.link ul {
    list-style: none;
}

nav {
    display: flex;
    flex-flow: column wrap;
}

.link li {
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #333333;
    padding: 3px;
}

.link a {
    text-decoration: none;
    color: #333333;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
}

.logo img {
    width: 25%;
}

.icon {
    display: flex;
    justify-content: center;
    align-content: center;
    visibility: hidden;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
}

.icon-footer {
    display: flex;
    justify-content: center;
    font-size: 40px;
}

.icon-footer span {
    padding: 5px;
}

@media all and (min-width: 768px) {
    nav {
        margin-top: 3px;
        margin-left: 3px;
        margin-right: 3px;
        padding: 3px;
        border: 1px solid #333333;
        border-radius: 5px;
        flex-flow: row wrap;
        box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
    }

    .link {
        display: flex;
        flex: 33%;
        justify-content: flex-start;
        align-items: center;
    }

    .link ul {
        display: inline-flex;
    }

    .link li {
        border-right: 1px solid #333333;
        border-bottom: none;
    }

    .logo {
        display: flex;
        justify-content: center;
        flex: 34%;
        padding: 0;
        box-shadow: none;
    }

    .icon {
        display: flex;
        justify-content: flex-end;
        flex: 32%;
        visibility: visible;
    }
    
    .icon span {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 16px;
        padding: 2px;
    }

    footer {
        position: fixed;
        bottom: 0;
        width: 100%;
        visibility: hidden;
    }
}
