* {
    margin: 0;
}

.header{
    display: flex;
    text-align: center;
    width: 100%;
}

a {
    text-decoration: none;
    color: #333333;
    margin: 0;
    padding: 0;
}

ul {
    display: flex;
    list-style: none;
}

li {
    display: flex;
    margin-left: 2.2%;
    border-left: 100px;
} 

;
