* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

.lista-exercicio {
    display: flex;
    justify-content: center;
    border: none;
    box-shadow: none;
}

.lista-exercicio li {
    list-style: none;
}

.lista-exercicio a {
    text-decoration: none;
    color: #333333;
}