* {
    margin: 0;
    background-color: #FFFFFF;
}

a {
    color: #333333;
    text-decoration: none;
}

hr {
    clear: both;
    visibility: hidden;
}

div.container {
    position: relative;
    top: 5%;
    left: 0.5%;
    display: flex;
    flex-direction: row;
    min-height: 35px;
    min-width: 98%;
    max-width: 98%;
    border: 1px solid #333333;
    padding: 3px;
    border-radius: 3px;
    box-shadow: 5px 5px 5px rgba(0,0,0,0.5);
}

div.left {
    min-width: 30%;
    max-width: 30%;
}

div.right {
    flex-direction: row;
    max-height: 50px;
    min-width: 70%;
    max-width: 70%;
}

div.right div {
    position: relative;
    left: 49%;
    float: left;
    min-height: 35px;
    height: 100%;
    min-width: 10%;
    max-width: 15%;
    border-left: 1px solid #333333;
}

div.right div a {
    position: relative;
    top: 25%;
    left: 10%;
}

div.left img {
    position: relative;
    top: 15%;
    min-width: 40px;
    max-width: 120px;
    left: 5%;
}

@media (max-width: 1200px) {
    div.container {
        display: flex;
        flex-direction: column;
        text-align: center;
        border: none;
        box-shadow: none;
    }

    div.right {
        flex-direction: column;
        max-height: 50px;
        min-width: 100%;
        max-width: 100%;
    }
    
    div.left {
        min-width: 100%;
        max-width: 100%;
        max-height: 50px;
        min-height: 50px;
    }
    
    hr {
        clear: both;
        visibility: visible;
        color: #333333;
    }
    
    div.right div {
        position: relative;
        left: 0;
        min-height: 30px;
        max-height: 30px;
        min-width: 100%;
        max-width: 100%;
        float: none;
        border-left: none;
        border-bottom: 1px solid #333333;
    }
    
    div.right div a {
        position: relative;
        top: 5px;
        left: 0%;
    }
    
    div.left img {
        position: relative;
        top: 15px;
        left: 0;
        min-width: 40px;
        max-width: 100px;
    }
}

;